{deps, [
  {bitcask, ".*", {git, "git://github.com/basho/bitcask.git", "master"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
  {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
  {erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git", "master"}}
]}.